@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Solitreo&family=Xanh+Mono:ital@0;1&display=swap");

:root {
  --primaryColor: #4799eb;
}
::selection {
  background-color: hsla(210, 10%, 12%, 0.95);
  color: #c4c4c4;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  /* padding-top: 60px; */
  color: #aaa;
  background-color: #272b30;
}

.text-main {
  color: var(--primaryColor);
}
.text-second {
  color: #aaa;
}
.bg-main {
  background-color: var(--primaryColor) !important;
}
.bg-main:hover {
  background-color: #3277bd;
}
.btn-outline-main {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  background-color: transparent;
}
.btn-outline-main:hover {
  border: 1px solid #aaa;
}
.text-pack {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.text-small {
  font-size: 12px;
}
.card-text {
  padding-bottom: 5px !important;
}
@media screen and (max-width: 991px) {
  .logout {
    position: absolute;
    top: 15px;
    right: 25%;
  }
  .rightSide {
    margin-top: 0 !important;
  }
  .navbar-collapse {
    background-color: #272b30;
    border-radius: 10px;
    padding: 0px 20px;
  }
}
